<div class="container">
  <ea-list-page 
    #listPage 
    url="/contractShop/listContractShop" 
    [queryNode]="queryNode" 
    [tableThead]="[ '品牌', '合同编号', '客户姓名', '联系方式', '门店名称', '签约员工', '签约时间', '安装日期', '安装负责人', '大屏状态', '合同状态', '合同原件', '操作' ]"
    [EaTableTbodyTr]="EaTableTbodyTr" 
    [EaBtns]="EaBtns">
    <ng-template #EaTableTbodyTr let-data>
      <td>{{ data.brandName }}</td>
      <td>{{ data.contractNo }}</td>
      <td>{{ data.contractName }}</td>
      <td>{{ data.contractPhone }}</td>
      <td>{{ data.shopName }}</td>
      <td>{{ data.createUser }}</td>
      <td>{{ data.signingDate }}</td>
      <td>{{ data.installationDate }}</td>
      <td>{{ data.construct }}</td>
      <td>{{ data.equipmentStatus == 1 ? '开启' : '关闭' }}</td>
      <td>{{ data.contractStatus == 1 ? '正式' : data.contractStatus == 2 ? '预置' : data.contractStatus == 1 ? '解约' : '废弃' }}</td>
      <td>{{ data.contractAttachment }}</td>
      <td>
        <a href="javascript:;" (click)="update(data)">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a href="javascript:;" (click)="discarded(data)">废弃</a>
      </td>
    </ng-template>
    <ng-template #EaBtns>
      <button nz-button nzType="dashed" nzBlock (click)="update()" [style.margin-bottom]="'24px'"><i class="anticon anticon-plus"></i>新建合同</button>
    </ng-template>
  </ea-list-page>
</div>





<nz-modal [(nzVisible)]="showDiscarded" nzTitle="废弃合同" (nzOnCancel)="showDiscarded = false" (nzOnOk)="discarded()">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="email">提交人</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="email" type="email" id="email" disabled>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="email">合同编号</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="email" type="email" id="email">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="email">废弃原因</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="email" type="email" id="email">
    </nz-form-control>
  </nz-form-item>
</nz-modal>