.ant-form-inline nz-form-item {
  width: 100%;
  margin-bottom: 16px;
}
.hp-query-btns {
  float: right;
  nz-form-control {
    width: 100%;
  }
  nz-form-control {
    text-align: right;
  }
} 

.box {
  width: 216px;
  height: 384px;
  margin: 0 auto;
  border: solid 1px #ccc;
  overflow: hidden;
}